<main>
    <h1>
        Steve Fulghum
    </h1>
    <section class="title-heading">
        <ul aria-label="titles">
            <li>Senior UI Developer</li>
            <li>CSS Warlock</li>
            <li>Front-end Expert</li>
            <li>Accessibility Champion</li>
        </ul>
    </section>
    <address class="title-subheading">
        <ul aria-label="contact information">
            <li>Email: <a href="mailto:steve@fulghum.digital">steve&#64;fulghum.digital</a></li>
            <li>GitHub: <a href="https://github.com/stevefulghum">github.com&#47;stevefulghum</a></li>
            <li>LinkedIn: <a href="https://linkedin.com/in/stephenjfulghum">linkedin.com&#47;in&#47;stephenjfulghum</a></li>
        </ul>
    </address>
    <section class="introduction">
        <p>I'm a UI developer with a passion for crafting modern front-end experiences.</p>
        <p>I bring a broad skillset to teams, built on 15 years of building and experimenting on the web.</p>
        <p>My specialty is working with UX teams to implement their designs in performant, accessible ways, but I easily
            jump to collaborating with back-end teams to get the data where it needs to be.</p>
    </section>
    <section class="technical-skills">
        <h2>Technical Skills</h2>
        <ul>
            <li>HTML/CSS/Sass</li>
            <li>JavaScript, TypeScript</li>
            <li>Accessibility</li>
            <li>Design systems</li>
            <li>Responsive design</li>
            <li>React, Angular, Next, Nest</li>
            <li>Web components</li>
            <li>Git</li>
            <li>Technical communication, writing, & editing</li>
        </ul>
    </section>
    <section class="education">
        <h2>Education</h2>
        <ul>
            <li>
                Ithaca College
                <ul>
                    <li>BA, Creative Writing</li>
                    <li>Minor in German</li>
                </ul>
            </li>
            <li>
                BU Center for Digital Imaging Arts
                <ul>
                    <li>Professional Certificate Graphic & Web Design</li>
                </ul>
            </li>
        </ul>
    </section>
    <section class="experience">
        <h2>Experience</h2>
        <article>
            <header>
                <h3>Vestmark</h3>
                <p>Wakefield, MA</p>
                <h4>Senior UI Developer</h4>
                <p><time datetime="2021-09">September 2021</time> to <time datetime="present">Present</time></p>
                <h4>UI Developer</h4>
                <p><time datetime="2019-03">March 2019</time> to <time datetime="2021-09">September 2021</time></p>
            </header>
            <ul>
                <li>Built and maintained UI features across Vestmark's financial application suite</li>
                <li>Led the development of a component library to provide consistent UI elements:</li>
                <li>Themed for light and dark modes</li>
                <li>Focused on responsive behavior</li>
                <li>Baked in accessibility</li>
                <li>Played a central role in the development of the UI framework for Vestmark's VAST proposal generation
                    application</li>
                <li>Ran UI chapter meetings</li>
            </ul>
        </article>
        <article>
            <header>
                <h3>Commonwealth Financial Network</h3>
                <p>Waltham, MA</p>
                <h4>Front-end Developer</h4>
                <p><time datetime="2015-06">June 2015</time> to <time datetime="2019-02">February 2019</time></p>
            </header>
            <ul>
                <li>Implemented designs and features for legacy financial applications, including:</li>
                <li>Video player and playlist page for in-house content</li>
                <li>Front-end pages for a new messaging system between advisors and clients</li>
                <li>Worked with UX designers to implement a design system</li>
                <li>Spearheaded style guide and coding standards initiatives</li>
            </ul>
        </article>
        <article>
            <header>
                <h3>Wayfair</h3>
                <p>Boston, MA</p>
                <h4>Front-end Engineer</h4>
                <p><time datetime="2013-06">June 2013</time> to <time datetime="2015-06">June 2015</time></p>
            </header>
            <ul>
                <li>Maintained sites in the Wayfair family</li>
                <li>Translated page designs into HTML and CSS from mockups created by the in-house design team</li>
                <li>Utilized and wrote code with an emphasis on reusability and minimalism</li>
                <li>Interacted on a daily basis with project and business managers</li>
                <li>Coordinated project development between departments</li>
                <li>Ensured cross-browser compatibility and graceful degradation</li>
            </ul>
        </article>
    </section>
    <footer role="contentinfo">
        <section class="publications">
            <h2>Publications</h2>
            <p>Simulating Drop Shadows with the CSS Paint API</p>
            <p>CSS-Tricks.com, <time datetime="2020-12-29">Dec, 29, 2020</time></p>
            <p><a href="https://tinyurl.com/32hrh945">https://tinyurl.com/32hrh945</a></p>
        </section>
        <section class="projects">
            <h2>Projects</h2>
            <p>Worksheet.tools</p>
            <p>An Angular app used to create word search puzzles</p>
            <p><a href="https://beta.worksheet.tools/wordsearch/v1">https://beta.worksheet.tools/wordsearch/v1</a></p>
        </section>
    </footer>
</main>