:root {
    --sf-background: light-dark(
        #ddd,
        #222
    );
    --sf-foreground: light-dark(
        #000,
        #ccc
    );
    --sf-border: light-dark(
        #000,
        #111
    );
    --sf-shadow: light-dark(
        rgba(0, 0, 0, 0.1),
        #111
    );
}