:root {
    --sf-background: light-dark(
        #efefef,
        #222
    );
    --sf-foreground: light-dark(
        #000,
        #ccc
    );
    --sf-border: light-dark(
        #000,
        #111
    );
    --sf-shadow: light-dark(
        rgba(0, 0, 0, 0.1),
        #111
    );

    @media print {
        --sf-background: #fff;
        --sf-foreground: #000;
        --sf-border: #000;
        --sf-shadow: transparent;
    }
}